/* Styling form fields */
.form input[type=text] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.6em;
    font-size: 1.1em;
    border: 1px solid colors(dark-background);
    box-sizing: border-box;
}

.form input[type=submit], button {
    width: 100%;
    font-size: font-size(h6);
    background-color: color(base-primary);
    color: #fff;
    padding: 1em;
    margin-top: 0.5em;
    border: none;
    cursor: pointer;
}
.form input[type=submit]:hover, button:hover {
    background-color: color(dark-primary);
}
.form-container {
    max-width: 25em;
    padding: 1em;
}